@use '../components/mixins' as *;
@use '../custom' as *;

.logos {
    height: 2rem;
    margin-left: 1rem;
}

.logosContainer {
    display: flex;
}

.illustrations {
    max-height: 15rem;
   
    position: relative;
    
}

.services {
    position: relative;
    padding: 1rem 0;

    &__content {
        padding: 1rem;
        margin-top: 0rem;

        @include media-breakpoint-up(lg) {
            margin-top: 5rem;
        }

        .icon{
            font-size: 1.5rem;

            @include media-breakpoint-up(lg) {
                font-size: 2.5rem;
            }
    
        }
    }

    &__pic {
        max-width: 100%;
    }
}